// conterrà tutti i parziali
@import './partials/_variables.scss';

// style generale del sito
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 70%;
    margin:0 20% 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #logo {
        img {
            height: 80px;
        }
    }
    nav{
        display: flex;

        justify-content: center;
        align-items: center;
        ul{
            display: flex;
            align-items: center;
            justify-content: right;
            li{
                list-style-type: none;
                margin-left: 30px;
                padding: 60px 5px;
                position: relative;
                &:hover::after {
                    position: absolute;
                    content: '';
                    display: inline-block;
                    height: 3px;
                    background-color: $blue-dc;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
                &:hover a {
                    color: $blue-dc;
                }
                a{
                    text-decoration: none;
                    color: black;
                    text-transform: uppercase;
                    font-weight: 900;
                    opacity: 0.6;
                }

            }
        }
    }
}
